@mixin mixinTransition($args...) {
  @if (length($args) == 0) {
    transition: all $duration $timing-function $timeDelay;
  } @else {
    $options: null;
    @for $i from 0 to length($args) {
      $options: $options,
        #{nth($args, $i + 1)} $duration $timing-function $timeDelay;
    }
    transition: $options;
  }
}
