.section-footer {
  padding-bottom: 0px;

  background: #2f303a;
}

.footer-container {
  padding-bottom: 60px;
  padding-top: 60px;
}

.address-soc {
  @media screen and (min-width: 768px) {
    display: flex;
    padding-bottom: 60px;
  }
}

.logo-title {
  color: #ffffff;

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  text-align: center;
}

.address {
  margin-top: 20px;
}

.footer-address {
  margin-top: 0em;
  margin-bottom: 8px;

  color: #ffffff;

  font-size: 14px;
  line-height: 1.71;
}

.block-address {
  display: block;
  text-align: center;

  @media screen and (max-width: 768px) {
    padding-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 60px;
  }
}

.mail {
  margin-top: 0em;
  margin-bottom: 8px;
}

.footer-mail-tel {
  color: $footer-contacts-color;

  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.block-soc {
  display: block;
  padding-right: 0;

  @media screen and (min-width: 768px) {
    padding-left: 195px;
  }
}

.footer-soc-list {
  display: flex;
  align-items: center;

  & .list-iteam {
    display: flex;
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-color: rgba(80, 82, 97, 0.8);

    transition: background-color $duration $timihg-function;
  }
}

.footer-icon {
  background-size: 20px;
  fill: #ffffff;
}

.footer-soc-list .list-iteam:hover {
  background-color: #2196f3;
}

.footer-soc-list .footer-list:not(:last-child) {
  margin-right: 10px;
}

.footer-title {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #ffffff;

  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.block-mailing {
  align-items: flex-end;
  padding-left: auto;
  padding-right: auto;
}

.input-mailing {
  margin-bottom: 20px;
  padding: 16px 15px;
  width: 450px;
  height: 50px;
  color: #fff;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}

.mialing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-mailing-container {
  display: block;
  position: relative;
  padding-left: auto;
  padding-right: auto;
}

.icon-mailing {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: #ffffff;
}

/* кнопка footer */

.footer-button {
  height: 50px;
  width: 200px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $accent-color-white;
  border-color: transparent;
}

.basement {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.footer-basement {
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-weight: normal;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}
